{
  "app": {
      "version": {
        "tag": "version",
        "value": "10.0"
      }
    },
  "mysql": {
    "address": "127.0.0.1",
    "user": "homestead",
    "pass": "homestead",
    "port": "3306",
    "database": "homestead"
  },
  "server": {
    "address": ":9000"
  }
}